{% extends 'base.html' %}


{% block body %}
<!-- <div class="bg-dark text-white about">
    <img src="/static/img/about-backround2.png" class="card-img" alt="...">
    <div class="card-img-overlay">
         <h5 class="card-title">Handyman App connects people with great local business!</h5> -->
        <!-- <p class="card-text">How can I easily reach quality service providers?</p>
        <p class="card-text">There has to be a way to find the best service providers in my neighborhood without wandering around or asking people you know!
            Based on this great need, our platform creates superior technology, quality professionals and real customer reviews. Today, we provide a great job and career opportunity to over 600,000 professionals without spending any advertising, and we provide solutions to all the needs of thousands of users from transportation, repair, cleaning to painting.</p> -->
    <!-- </div>
</div> --> 
<div class="center-image align-center">
    <img class="about-img" src="/static/img/about2.png" alt="...">
</div>
<!-- <p>
    <h2>Handyman App connects people with great local business!</h2>
</p> -->
<!-- <p>
    <h4>How can I easily reach quality service providers?
        <br>
        There has to be a way to find the best service providers in my neighborhood without wandering around or asking people you know!
        Based on this great need, our platform creates superior technology, quality professionals and real customer reviews. Today, we provide a great job and career opportunity to over 600,000 professionals without spending any advertising, and we provide solutions to all the needs of thousands of users from transportation, repair, cleaning to painting.</h4>
</p> -->

{% endblock %}



