{% extends 'base.html' %}
{% block title %}Handyman Home{% endblock %}

{% block body %}

<!-- <div id="become-handyman">
  <h2>Create an Account</h2>
  <form action="/users" class="create-account-input" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      First_name <input type="string" name="first_name">
    </p>
    <p>
      Last_name <input type="string" name="last_name">
    </p>
    <p>
      User_address <input type="text" name="user_address">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <button class="button-topnav" type="submit">Create User</button>
    </p>
  </form>
</div>

  <div id="become-handyman">
      <h2>Become a Handyman</h2>
      <h3>Join thousands of handyman businesses and earning meaningful income on HandymanApp</h3>
        <form class= "inline" action="/handyman_account" method="GET">
          <button class="inline" type="submit">Create Handyman</button>
        </form>

  </div> -->

  <section class="forms-section">
    <h1 class="section-title">Create an Account</h1>
    <div class="forms">
      <div id="user-form" class="form-wrapper is-active">
        <button id="create-user" type="button" class="switcher switcher-login">
          User Account
          <span class="underline"></span>
        </button>
        <!-- <form action="/users" class="form form-login" method="POST"> -->
        <div class="form form-login">
          <fieldset>
            <legend>Please, enter your email and password for login.</legend>
            <div class="input-block">
              <label for="login-email">E-mail</label>
              <input name="email" id="login-email" type="email" required>
            </div>
            <div class="input-block">
              <label for="login-first-name">First Name</label>
              <input name="first_name" id="login-first-name" type="string" required>
            </div>
            <div class="input-block">
              <label for="login-last-name">Last Name</label>
              <input name="last_name" id="login-last-name" type="string" required>
            </div>
            <div class="input-block">
              <label for="login-address">User Address</label>
              <input name="user_address" id="login-address" type="text" required>
            </div>
            <div class="input-block">
              <label for="password">Password</label>
              <input name="password" id="password" type="password" required>
            </div>
          </fieldset>
          <button id="continue" type="submit" class="btn-login">Continue</button>
        <!-- </form> -->
        </div>
      </div>
      <div id="create-handyman-form" class="form-wrapper">
        <button id="create-handyman" type="button" class="switcher switcher-signup hide">
          Create Handyman 
          <span class="underline"></span>
        </button>
        <form action="/create_handyman" class="form form-signup"  method="POST">
          <fieldset>
            <legend>Please, enter your email, password and password confirmation for sign up.</legend>
            <div class="input-block">
              <label for="company_name">Company Name</label>
              <input name="company_name" id="company_name" type="text" required>
            </div>
            <div class="input-block">
              <label for="price_per_hour">Price Per Hour</label>
              <input name="price_per_hour" id="price_per_hour" type="integer" required>
            </div>
            <div class="input-block">
              <label for="radius">Radius</label>
              <input name= "radius" id="radius" type="integer" required>
            </div>
            <div class="input-block">
              <label for="zip_code">Zip Code</label>
              <input name= "zip_code" id="zip_code" type="integer" required>
            </div>
            <div class="input-block">
              <label for="phone_number">Phone Number</label>
              <input name= "phone_number" id="phone_number" type="text" required>
            </div>
          </fieldset>

          <h1 class="select-service">Services</h1>
          <input type="checkbox" name="cleaning" value="cleaning">
          <label class="select-service" for="service_name"> Cleaning</label><br>
          <input type="checkbox" name="moving" value="moving">
          <label class="select-service" for="service_name"> Moving</label><br>
          <input type="checkbox" name="painting" value="painting">
          <label class="select-service" for="service_name"> Painting</label><br>

          <button onclick="goHome()" id="skip" type="skip" class="btn-signup skip">Skip</button>
          <button type="submit" class="btn-signup">Create Handyman</button>
        </form>
      </div>
    </div>
  </section>


{% endblock %}

{% block js %}
  <script src="/static/js/create_account.js"></script>
{% endblock %}
