<!--
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
     
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
</body>  
-->
{% extends 'base.html' %}
{% block title %}Handyman Profile{% endblock %}

{% block body %}
<h2 style="text-align:center">Handyman Profile Card</h2>

<div class="card">
  <img class="center-image" src="/static/img/profile-icon-png-899.png" alt="Best Handyman" style="width:10%">
  <h1>{{company_name}}</h1>
  <p class="title">Specialties: {{service_names}}</p>
  <p>Per Hour= ${{price_per_hour}}</p>
  <div style="margin: 24px 0;">
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a>  
    <a href="#"><i class="fa fa-linkedin"></i></a>  
    <a href="#"><i class="fa fa-facebook"></i></a> 
  </div>
  <p><button>Contact</button></p>
</div>

{% endblock %}
 