{% extends 'base.html' %}
{% block title %}Handyman Home{% endblock %}
{% block head %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js" crossorigin></script>
  <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
{% endblock %}

{% block body %}

<!--
<div>
  <h2 class="center">Welcome!</h2>
</div>

  
  <p>
    <h2 class="center">Which service do you need today?</h2>
  </p>


  <form class="example center" action="/search_result">
    <input type="text" placeholder="E.g. cleaning, painting, moving" name="search">
    <button type="submit" value="submit"><i class="fa fa-search"></i></button>
  </form>
-->
<!--
  <div class="dropdown">
    <button class="dropbtn">Dropdown</button>
    <div class="dropdown-content">
      <a href="#">CLEANING</a>
      <a href="#">MOVING</a>
      <a href="#">PAINTING</a>
  </div>
-->
  <div id="app"></div>
  <!--<div id="homepage"></div>-->
  <div class="center" id="maps"></div>
{% endblock %}


{% block js %}
  <script src="/static/js/homepage.jsx" type="text/jsx"></script>
  <!-- <script src="/static/js/maps.js"></script> -->
  <!-- <script
    async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKupASm9sKWM4dTPY89rllyFZlVQrwunE&callback=initMap">
  </script> -->
{% endblock %}

